/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

$light-yellow: #f7e4bf;
$light-blue: #78a7c6;
$dark-blue: #134d71;

$bg2-clr1: #632b6c;
$bg2-clr2: #c76b98;
$bg2-clr3: #f09f9c;

$white: #ffffff;
$black: #000000;
$font: 'Quicksand', sans-serif;
$font-header-size: 3rem;

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

html {
  --fade-style: NULL;
  position: relative;
  background: linear-gradient(180deg, #134d71 10%, #78a7c6 50%, #f7e4bf 100%);
  z-index: 1;
}

html::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, $bg2-clr1 10%, $bg2-clr2 50%, $bg2-clr3 100%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

html::before {
  animation: var(--fade-style) 1s forwards;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 25px;
  height: calc($font-header-size * 2);
  font-size: $font-header-size;
  color: $white;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;

  justify-content: space-evenly;
  align-items: center;
}

.box {
  background-color: $white;
  padding: 15px;
  border-radius: 10px;
}

.message-question {
  color: $white;
  text-align: center;
  padding: 5px;

  font-size: 1.25rem;
  font-weight: 600;
}

#message-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 500px;
  height: 100px;
  

  .inputs {
    flex: 1;
    display: flex;
    width: 66%;

    justify-content: space-between;
    align-items: center;
  }

  label {
    font-style: italic;

    font-size: 1rem;
  }

  button {
    $button-width: 200px;
    $button-height: 30px;
    width: 200px;
    height: 30px;

    border: none;
    border-radius: 5px;
    background-color: $dark-blue;
    color: $white;
    font-size: 1rem;

    &:hover {
      $size-multiplier: 1.05;
      background-color: $light-blue;
      width: calc($button-width * $size-multiplier);
      height: calc($button-height * $size-multiplier);
      font-size: calc(1rem * $size-multiplier);
    }
  }
}

#message-random {
  width: 750px;
  height: 200px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 100px;
  }
}

.fade-in {
  animation: fade-in 0.75s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 750px) {
  #message-random {
    width: 100%;
  }

  #message-form {
    width: 100vw;
  }
}